
<div fxLayout="column" fxLayoutGap="50px" style="width: calc(100% - 160px); margin: 80px;" fxLayoutAlign="space-around stretch">

  <!-- <div fxFlex="10%">
    <mat-icon>equalizer</mat-icon> <span> Hay 23 pedidos en proceso, 3 fuera de plazo. </span>
  </div> -->

  <div fxFlex>
    <table-administrators></table-administrators>
  </div>

  <div>
    <span style="font-size: 1.5vmax; font-family: Roboto, 'Helvetica Neue', sans-serif;"> Añadir o editar un pedido o cliente </span>
  </div>

  <div>
    <form-add-order></form-add-order>
  </div>

</div>
