mat-progress-bar {
  position: fixed;
  top: 0px;
}

/* mat-toolbar {
  position: sticky;
  top: 0px;
} */

.fill-remaining-space__toolbar {
    /* Rellena el espacio restante usando flexbox. */
    flex: 1 1 auto;
}

.sidenav-menu__item {
    vertical-align: super;
    margin-left: 10px;
}

.toolbar-filler {
    flex: 1 1 auto
}

.mat-sidenav__container {
    background-color: #e42a20;
}
/*
.mat-list-item-ripple {
    background-color: white;
    color: black;
}

.navigation-links>mat-icon{
    color: #e42a21;
}
*/

::ng-deep mat-list-item:hover {
    background-color: white !important;
    color:black !important;
}

mat-list-item.active {
    background-color: #ff654c;
    color: black !important;
    opacity: 0.8 !important;
    font-weight: bold !important;
}

/* elimina el padding de 16px left rigth de enlaces laterales */
/* ::ng-deep .mat-list-item-content {
    padding: 0px !important;
}

a {
    padding: 0 16px;
} */


/*
.mat-button.mat-primary .mat-button-focus-overlay {
    background-color: white;
  }
*/

::ng-deep .mat-sort-header-sorted {
    color: black !important;
}
